<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="adminEmail" value="author@thesis.sggw" />
    <add key="hostHttp" value="http://localhost:1165/" />
    <add key="hostHttps" value="https://localhost:44385/" />
  </appSettings>
</configuration>